$color-primary: #efc410;
$color-font-primary: #534e6c;
// $color-font-secondary: #c30d55;
$color-font-primary: rgb(51,51,51);
$color-font-secondary: #0d82df;
$font-primary: 'Montserrat', sans-serif;
// linear-gradient(to right, #0b72dc, #399ff0)